<section 
  class="weather__card" 
  [ngClass]="{'weather__card-dark': darkMode, 'weather__card-add': addMode}"
  *ngIf="generalWeather$ | async as weather">

  <!-- <ng-container *ngIf="deleteCity$ | async"></ng-container> -->

  <button type="button" class="weather__card-delete-btn" (click)="deleteCity($event)">
    <img src="/assets/images/delete.svg" alt="delete city" class="weather__card-delete-icon">
  </button>
  <span class="weather__card-section city-name__text">{{cityName}}</span>
  <div class="weather__card-section weather-icon__container">
    <img [src]="'https://openweathermap.org/img/wn/' + weather.weather.icon + '@2x.png'" alt="">
  </div>
  <div class="weather__card-section temperature-text__container">
    <!-- <span class="temperature__text">{{ citesWeather }}</span> -->
    <span class="temperature-metric__text">{{ weather.main.temp | round}}°</span>
    <span class="weather-condition__text">{{weather.weather.main}}</span>
  </div>
  <section class="weather__card-section min-max__container">
    <div class="min__container">

      <span class="min-temperature__text">{{ weather.main.temp_min | round }}</span>
      <span class="min__text">Min</span>
    </div>
    <div class="max__container">
      <span class="max-temperature__text">{{ weather.main.temp_min | round }}</span>
      <span class="max__text">Max</span>
    </div>
  </section>

</section>